/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------------------------- Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

/* --------------------------------------------- Website colors */
:root {
    --red: #db3549;
    --yellow: #f7ba2e;
}

.positive-feedback {
    color: #4caf50;
}

.negative-feedback {
    color: #d50000;
}

/* --------------------------------------------- Website navigation */
nav {
    background-color: var(--red);
}

nav .brand-logo {
    margin-left: 15px;
    font-size: 2rem;
}

nav ul li {
    font-size: 2.5rem;
}

/* --------------------------------------------- Games page */
.game-name p {
    color: var(--red);
    text-transform: uppercase;
    padding: 0px !important;
}

.game-name p:hover {
    color: #000;
}

.card-action.game-name {
    padding-left: 0px !important;
}

#clear-button {
    background-color: var(--red);
    width: 90px;
}

#search-button {
    background-color: #81a042;
    width: 90px;
}

/* --------------------------------------------- Individual game page */
.game-buttons {
    padding: 10px 10px 10px 0px;
}

#game-description {
    text-align: justify;
}

#add-comment {
    background-color: var(--red);
}

/* --------------------------------------------- Edit game page */
#update-button {
    background-color: #81a042;
}

/* --------------------------------------------- Account page */
.collection .collection-item.avatar {
    padding-left: 20px;
}

/* --------------------------------------------- Sign Up page */
body > div.row > form > div > div:nth-child(-n+2) > div > i.active {
    color:#000;
}

.btn-large,
.btn-small {
    background-color: var(--red);
    color: #fff;
    font-weight: 700;
}

.btn-large:hover,
.btn-small:hover,
.btn-large:visited,
.btn-small:visited {
    background-color: #BF2234;
}

/* --------------------------------------------- Home page */
.parallax-container {
    height: 400px;
}

.parallax-container img {
    width: 640px;
    height: auto;
}

#home-header {
    margin-top: 0px;
}

#home-intro {
        text-align: justify;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.loader-image {
    position: absolute;
    width: 200px;
    height: auto;
}

#loader h6 {
    position: absolute;
    top: 70%;
    text-transform: uppercase;
}

/* --------------------------------------------- Footer */
.page-footer {
    background-color: var(--red);
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

#social-links li {
    display: inline-block;
    font-size: 24px;
    padding-right: 20px;
}

#footer-sections div.col {
    padding: 15px 35px 0px 35px;
    text-align: justify;
}

/* --------------------------------------------- Website Terms and Conditions */
.website-legal-text h6 {
    text-transform: uppercase;
    font-weight: 500;
}

.website-legal-text p {
    text-align: justify;
}

/* --------------------------------------------- Privacy Policy */

#use-information ul li {
    list-style-type: disc;
}

/* --------------------------------------------- Media Queries */
@media screen and (max-width: 464px) {
    /* --------------------------------------------- Website navigation */
    nav .brand-logo,
    ul li h4 {
        font-size: 1.2rem;
        margin-left: 0px;
    }

    /* --------------------------------------------- Home navigation */
    .parallax-container {
    height: 200px;
    }

    #home-header {
        font-size: 18px;
    }
}