@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------------------------- Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

/* --------------------------------------------- Website colors */
:root {
    --red: #db3549;
    --yellow: #f7ba2e;
}

/* --------------------------------------------- Website navigation */
nav {
    background-color: var(--red);
}

nav .brand-logo {
    margin-left: 15px;
    font-size: 2.8rem;
}

nav ul li {
    font-size: 2.5rem;
}

/* --------------------------------------------- Sign Up page */
body > div.row > form > div > div:nth-child(-n+2) > div > i.active {
    color:#000;
}

.btn-large {
    background-color: var(--red);
    color: #fff;
    font-weight: 700;
}

.btn-large:hover {
    background-color: #BF2234;
}

/* --------------------------------------------- Home page */
.parallax-container {
    height: 400px;
}

.parallax-container img {
    width: 640px;
    height: auto;
}

#home-header {
    margin-top: 0px;
}

#home-intro {
        text-align: justify;
}

/* --------------------------------------------- Media Queries */
@media screen and (max-width: 464px) {
    /* --------------------------------------------- Website navigation */
    nav .brand-logo,
    ul li h4 {
        font-size: 1.5rem;
    }

    /* --------------------------------------------- Home navigation */
    .parallax-container {
    height: 200px;
    }

    #home-header {
        font-size: 18px;
    }
}
