{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% for game in games %}
        <div class="col s12 m2 l4">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img src="{{ game.image_url }}">
                    <div class="card-action" id="game-name">
                        <a href="#">{{ game.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}